@font-face {
  font-family: "Imperial Script", cursive;
  font-family: "Syne", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Imperial+Script&family=Syne&display=swap);
}

@font-face {
  font-family: "Imperial Script", cursive;
  font-family: "Syne", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Imperial+Script&family=Syne:wght@500&display=swap);
}

@font-face {
  font-family: "opensans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
li,
span,
p {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #262121;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 6px;
  margin: 0;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #262121;
  font-weight: 500;
}

.red-txt {
  font-weight: 500;
  color: #d62929;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

#navbar {
  border-bottom: 1px #262121 solid;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.blur-nav {
  background-color: #f9f6f2;
}

.blur-nav.sticky {
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-menu-container {
  display: flex;
  margin: 0;
  column-gap: 206px;
  justify-content: space-between;
  align-items: center;
  width: 58%;
  margin-left: 60px;
}

.logo-navigation img {
  width: 34px;
}

.navbar-menu-title {
  display: flex;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  column-gap: 27px;
  justify-content: center;
}

/*------square----------*/

#home-header {
  background-color: #f9f6f2;
  padding: 16px;
}

.square-content {
  display: flex;
  flex-direction: column;
  border: 1px #262121 solid;
  row-gap: 314px;
}

.titre-twenty-two {
  float: right;
  font-size: 80px;
  margin-right: -15px;
}

.border-underline-title {
  border-bottom: 1px #262121 solid;
  padding-right: 67px;
}

.info-studio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-logo {
  padding-right: 52px;
  margin-bottom: 26px;
}

.img-logo img {
  width: 83px;
}

.info-studio-content ul {
  padding-left: 20px;
}

/*-----------------work---------------*/
#works {
  background-color: #f9f6f2;
}

.works-img {
  width: 500px;
  height: auto;
}

.btn-voir-moins {
  background-color: #d62929;
  color: white;
  padding: 13px 13px;
  display: flex;
  width: 130px;
  flex-direction: column;
  align-items: center;
}

.txt-white {
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.mouse-cursor {
  cursor: url("img/souris/cursor-01.png"), auto;
  animation: spin ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-side-title-img {
  display: flex;
  justify-content: space-between;
}

.title-section {
  font-size: 56px;
}

.title-content-left {
  display: flex;
  align-items: center;
  column-gap: 50px;
  padding-top: 28px;
}

.border-underline-works {
  content: "";
  border-bottom: 1px #262121 solid;
  padding-right: 210px;
}

/*-------presentation----animation-----------*/

.cash-presentation {
  width: 100%;
  background-color: rgb(255, 251, 246);
  height: 10vh;
  padding-top: 23px;
  padding-bottom: -5px;
  position: absolute;
  bottom: 0px;
  z-index: 5;
  display: block;
}

.cash-presentation.active {
  display: none;
}

.works-content-element {
  margin-top: 64px;
}

.works-content-presentation {
  padding-top: 85px;
}

.works-img-presentation {
  display: flex;
  justify-content: center;
  padding-bottom: 27px;
}

.img-presentation-open {
  display: none;
}

.img-presentation-open.active {
  display: flex;
  width: 100%;
  width: 33%;
  max-width: 100%;
}

.img-presentation-close {
  display: block;
}

.img-presentation-close.active {
  display: none;
}

.first-img,
.second-img,
.third-img {
  position: relative;
}

.second-img {
  z-index: 2;
  transition: all 0.1s linear;
  padding-left: 0px;
}

.first-img {
  position: relative;
  transform: rotate(-13deg);
  left: 330px;
  bottom: 60px;
  z-index: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.third-img {
  position: relative;
  transform: rotate(10deg);
  right: 320px;
  bottom: 55px;
  z-index: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

/*activer toute les images si un hover*/

.first-img,
.second-img,
.third-img {
  position: relative;
}

.works-img:hover .works-img-presentation {
  transform: scale(1.15);
}

.first-img.active {
  transform: rotate(0deg);
  left: 500px;
  bottom: 0px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.third-img.active {
  transform: rotate(0deg);
  right: 500px;
  bottom: 0px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.hoverclick.active:hover {
  bottom: 0px;
  box-shadow: none;
}

.works-content-all {
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
  display: none;
}

.works-img-right {
  margin-left: 53px;
}

.works-content-all.active {
  display: flex;
}

.works-img-all {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  padding: 0;
  width: 33%;
  max-width: 100%;
  align-items: center;
}

.works-img-all li {
  display: flex;
}

.works-img-all .works-img-left {
  display: flex;
  flex-direction: row-reverse;
}

.work-description-left h3,
.work-description-left p {
  margin: 0px;
  padding-right: 5px;
}

/*animation slide title*/

.work-description-right {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: -4rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.img-presentation-open .work-description-left {
  margin-left: 0rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

/*-------------------------*/
.work-description-right {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: -4rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.works-img-left .work-description-right {
  margin-right: 0rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

/**----------------------------*/

.work-description-left {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-left: 10px;
  margin-left: -4rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.works-img-right .work-description-left {
  margin-left: 0rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

/*----fin animation----*/

.work-description-right h3,
.work-description-right p {
  margin: 0px;
  padding-right: 5px;
}

.work-description-details {
  margin-top: 0px;
}

/*------------STUDIO-----------*/

#studio {
  background-color: #fffbf6;
}

.studio-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title-studio-element {
  padding-top: 68px;
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.studio-content ul {
  text-align: right;
}

.border-underline-studio {
  content: "";
  border-bottom: 1px #262121 solid;
  padding-right: 323px;
}

.studio-element {
  width: 48vw;
  padding-right: 375px;
  padding-bottom: 120px;
}

.studio-element p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 44px;
}

/*---votre--projet--*/

#votre-projet {
  background-color: #fbf6f0;
  background-image: url("img/t-01.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 250px;
}

.votre-projet-element {
  display: flex;
  width: 61vw;
  margin-left: 256px;
  padding-top: 42px;
  column-gap: 56px;
  align-items: center;
}

.votre-projet-content {
  padding-bottom: 84px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 28vw;
}

#contact-form ul {
  width: 26vw;
}

#contact-form li {
  padding-top: 13px;
}

.input-form {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 10px;
  background-color: #fbf6f0;
  border: 0.5px solid;
}

textarea {
  font-family: "Syne", sans-serif;
  width: 26vw;
  background-color: #fbf6f0;
  border: 0.5px solid;
  padding-top: 6px;
  height: 100px;
  padding-bottom: 8px;
  padding-left: 10px;
}

.text {
  margin: 0;
}

input[type="submit" i] {
  background-color: #d82a19;
  border: none;
  padding: 8px 24px;
  color: #fbf6f0;
}

/*----------footer-------------*/
#footer {
  margin: 18px;
  padding-bottom: 20px;
}

.footer-element {
  background-color: #fbf6f0;
  padding: 44px 20px;
}

.footer-first-line ul {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
}

.footer-first-line li a {
  font-weight: 900;
}

.footer-first-line img {
  width: 46px;
}

.footer-second-line ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-top: 30px;
}

/*-----scroll-bar-------*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fbf6f0;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #fbf6f0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

/*--------------second-page-----------------------*/
#bloc-page-work {
  background-color: #f9f6f2;
}

#banniere-presentation {
  padding: 70px 20px;
}

.banniere-square-content {
  background-image: url("img/mochi/mochi.png");
  background-position: center;
  border: 1px #262121 solid;
  height: 270px;
}

#page-work-presentation {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  margin-top: 136px;
  align-items: center;
}

.page-work-txt-presentation {
  display: flex;
  column-gap: 60px;
}

.page-work-txt {
  width: 28vw;
}

.page-work-txt h2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
}

.page-work-txt p {
  line-height: 32px;
  font-size: 15px;
}

.page-work-title {
  display: flex;
  flex-direction: column;
}

.page-work-title h1 {
  margin-top: 0;
}

.page-work-title p {
  margin: 0;
}

.page-work-img-presentation {
  width: 90%;
  margin-top: 78px;
  margin-bottom: 78px;
}

.page-work-bloc-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.page-work-img-duo {
  display: flex;
  column-gap: 38px;
  justify-content: center;
  width: 100%;
}

.page-work-img-duo img {
  width: 480px;
  height: auto;
}

.page-work-img-solo img {
  width: 100%;
  height: auto;
}

.page-work-second-banniere {
  background-image: url("img/mochi/fond-mochi.png");
  background-position: center;
  background-size: cover;
  border-top: 1px #262121 solid;
  border-bottom: 1px #262121 solid;
  height: 270px;
}

.page-work-presentation-second {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 136px;
  padding-bottom: 90px;
  align-items: center;
}
